<?xml version="1.0" encoding="utf-8"?>
<configuration>
 

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MiniScoreboardEZ_SSBU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="db" connectionString="Data Source=.\Resources\DB\miniscoreboard_db.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <MiniScoreboardEZ_SSBU.Properties.Settings>
      <setting name="vs_StreamFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="vs_IconsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="vs_Bracket" serializeAs="String">
        <value />
      </setting>
      <setting name="vs_Round" serializeAs="String">
        <value />
      </setting>
      <setting name="vs_Round_num" serializeAs="String">
        <value />
      </setting>
      <setting name="vs_Add1" serializeAs="String">
        <value />
      </setting>
      <setting name="vs_Add2" serializeAs="String">
        <value />
      </setting>
      <setting name="vs_Set_DarkTheme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="vs_Set_Transparent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="vs_language" serializeAs="String">
        <value>en</value>
      </setting>
    </MiniScoreboardEZ_SSBU.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  


</configuration>
